.header-banner{
  background: url(../public/resources/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.header-background{
  background: hsla(0, 0%, 0%, 0.0);
  width: 100%;
  height: 100%;
}

.header-text{
  background: hsla(0, 0%, 0%, 0.6);
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.8);
}
.header-text img{
  width: 100px;
}
.header-text h1{
  margin: 10px 0;
  font-weight: 500;
  font-size: 32px;
  font-family: 'Righteous', cursive;
}
.header-text p {
  font-weight: 500;
  font-size: 18px;
}